@{
    ViewData["Title"] = "Confirma Deletar Empresa";
}


<div class="text-center">
    <h2>Realmente deseja deletar o cadastro da empresa(Lomba)</h2>
</div>

<br>

<a class="btn btn-primary" role="button" asp-controller="CadastroEmpresa" asp-action="Index">Cancelar exclusão</a>

<a class="btn btn-danger" role="button" asp-controller="CadastroEmpresa" asp-action="Deletar">Confirmar exclusão</a>
